
<div id="main">
    
  <div class="initContainer">
      <div class="left">
          <textarea spellcheck="false" id="textarealeft" placeholder="Enter JSON to compare, enter an URL to JSON" tabindex="1"></textarea>
          <pre id="errorLeft" class="error"></pre>
          <span class="fileInput">or <input type="file" id="fileLeft" onchange="jdd.handleFiles(this.files, 'left')" tabindex="4"></span>
      </div>

      <div class="center">
          <button id="compare" tabindex="3">Compare</button>
          <div class="throbber-loader"></div>
          <!-- <br/><br/> -->
          <!-- or try some<br /><a href="#" id="sample">sample data</a> -->

      </div>

      <div class="right">
          <textarea spellcheck="false" class="right" id="textarearight" placeholder="Enter JSON to compare, enter an URL to JSON" tabindex="2"></textarea>
          <pre id="errorRight" class="error"></pre>
          <span class="fileInput">or <input type="file" id="fileRight" onchange="jdd.handleFiles(this.files, 'right')" tabindex="5"></span>
      </div>
  </div>

  <div class="diffcontainer">
      <!-- <div id="report"></div> -->
      <pre id="out" class="left codeBlock"></pre>
      <pre id="out2" class="right codeBlock"></pre>
      <!-- <ul id="toolbar" class="toolbar"></ul> -->
  </div>
</div>


<!-- <ng-container *ngFor="let item of sampleArray;let i = index">
  <div *ngIf="selectedArrayIndex != i"> 
    Difference:
    <differentiate 
      [allowRevert]="enableRevert"
      [allowAdvance]="enableAdvance"
      (onrevert)="revert($event)"
      (onadvance)="advance($event)"
      (ondifference)="ondifference($event)"
      [namedRootObject]="namedRootObject"
      [leftSideToolTip]="'pull from ' + selectedLeft + ' file'"
      [rightSideToolTip]="'pull from ' + selectedRight + ' file'"
      [onlyShowDifferences]="onlyShowDifferences"
      [attributeOrderIsImportant]="attributeOrderIsImportant"
      [leftSideObject]="sampleArray[selectedArrayIndex]" 
      [rightSideObject]="item">
    </differentiate>

    <div class="json-wrapper">
      <div class="json-view left" [innerHTML]="sampleArray[selectedArrayIndex] | json"></div>
      <div class="json-view right" [innerHTML]="item | json"></div>  
    </div>
  </div>

  <div class="json-wrapper">
    <div [innerHTML]="actions[actions.length - 1]"></div>
  </div>

   <ul class="logger">
    <li [innerHTML]="action | json" *ngFor="let action of actions"></li>
  </ul>
</ng-container> -->