:host {
    label {
      padding: 2.2px 5px;
      margin: 5px;
    }
    .selection-wrapper {
      box-sizing: border-box;
      display: table;
      position: relative;
      margin: 4px 0;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
  
      select {
        float: left;
        width: 50%;
      }
    }
    .resources {
      text-align: center;
      margin-bottom: 20px;
      color: #551234;
      font-weight: bold;
    }
    .json-wrapper {
      border: 2px groove rgba(0, 0, 0, 0.1);
      background-color: #eee;
      box-sizing: border-box;
      display: block;
      max-height: 222px;
      margin: 4px 0;
      overflow-y: auto;
      position: relative;
    
      .json-view {
        box-sizing: border-box;
        display: block;
        font-family: monospace;
        float: left;
        padding: 5px;
        unicode-bidi: embed;
        width: 50%;
        white-space: pre-wrap;
      }
    }
    .logger {
      border: 2px groove rgba(0, 0, 0, 0.1);
      background-color: #eee;
      box-sizing: border-box;
      display: inline-block;
      max-height: 404px;
      overflow-y: auto;
      margin-bottom: 45px;
      width: 100%;
      margin: 0;
      li {
        padding: 3px 0;
      }
    }
    .selected {
      font-weight: bold;
      color: red;
    }
    .field {
      width: 100%;
      border-radius: 5px;
      padding: 5px;
      margin: 0;
      box-sizing: border-box;
    }
    .info {
      color: #fff;
      padding: 10px;
      background-color: #179613;
      border: 1px solid #633;
      border-radius: 5px;
      margin: 25px 0 10px 0;
    }
    .alert {
      background-color: #e22;
      color: #fff;
      padding: 10px;
      border: 1px solid #633;
      border-radius: 5px;
      margin: 25px 0 10px 0;
    }
    .pick-points {
      margin: 4px auto;
      border: 2px groove rgba(0, 0, 0, 0.1);
    }
    #entry {
      width: 97vw;
      height: 100%;
      display: table;
      z-index: 22;
      border: 1px solid #6682a5;
      padding: 15px;
      margin: 10px auto;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 1px 1px 3px 2px #ddd;
      position: relative;
    
      .heading {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #6682a5;
        width: 100%;
        text-align: right;
        border-radius: 5px 5px 0 0;
        padding: 5px;
        box-sizing: border-box;
    
        a {
          float: right;
          cursor: pointer;
          color: #fff;
          margin: 0 5px;
        }
      }
      
      textarea {
        display: block;
        width: 100%;
      }
      
      label {
        display: table;
        margin: 5px 0;
        width: 100%;
      }
      button {
        float: right;
        margin-bottom: 20px;
      }
    }  
  }
  ::ng-deep differentiate {
    border: 2px groove rgba(0, 0, 0, 0.1) !important;
  }